#contenedorDataUsuario{
    margin: 5% 0% 2% 5%;
}

#cajaPerfil{
    background-color: #0000008c;
    margin: 6% 0% 0% -9%;
    width: 46%;
    border-radius: 10px;
    box-shadow: 0 0 15px #525252;
}

